[package]
name = "game123"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hecs = "*"
random = "0.14.0"
tetra = "0.8"
serde_json = "1.0"

[profile.release]
strip = true
lto = true